# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]

# =========================
# pytest
# =========================
.pytest_cache/

# =========================
# coverage
# =========================
.coverage

# =========================
# IDE (opcional pero recomendado)
# =========================
.vscode/

# =========================
# OS files (Windows)
# =========================
Thumbs.db